<?xml version="1.0"?>
<config>
    <modules>
    	<Vtigercrm_Quotation>
    		<version>0.0.1</version>
    	</Vtigercrm_Quotation>
    </modules>
    <global>
        <blocks>
            <vtigercrm_quotation>
                <class>Vtigercrm_Quotation_Block</class>
            </vtigercrm_quotation>
        </blocks>
    	<models>
        	<quotation>
            	<class>Vtigercrm_Quotation_Model</class>
            </quotation>
        </models>
        <helpers>
            <vtigercrm_quotation>
                <class>Vtigercrm_Quotation_Helper</class>
            </vtigercrm_quotation>
        </helpers>
    </global>
    <frontend>
    	<layout>
            <updates>
                <vtigercrm_quotation>
                    <file>vtigercrm/quotation.xml</file>
                </vtigercrm_quotation>
            </updates>
        </layout>
    	<routers>
            <quotation>
                <use>standard</use>
                <args>
                    <module>Vtigercrm_Quotation</module>
                    <frontName>quotation</frontName>
                </args>
            </quotation>
        </routers>
    </frontend>
    <default>
        <vtigercrm_quotation>
            <vtiger>
                <apiurl>http://kitnekaa.com/internal_crm/webservice.php</apiurl>
                <username>admin</username>
                <accessKeyDB>wOGjYx802HMdEfK</accessKeyDB>
                <assigned_user_id>1</assigned_user_id>
            </vtiger>
        </vtigercrm_quotation>
    </default>
</config>