<?xml version="1.0"?>
<config>
  <modules>
    <Company_Users>
      <version>0.1.12</version>
    </Company_Users>
  </modules>
  <frontend>
    <routers>
      <users>
        <use>standard</use>
          <args>
            <module>Company_Users</module>
            <frontName>users</frontName>
          </args>
      </users>
    </routers>
		<layout>
		  <updates>
			<users>
			  <file>users.xml</file>
			</users>
		  </updates>
		</layout>
    <events>
      <controller_action_predispatch>
        <observers>
          <ask_customer_for_vatandtinno>
            <class>Company_Users_Model_Observer</class>
            <method>ask_customer_for_vatandtinno</method>
          </ask_customer_for_vatandtinno>
        </observers>
      </controller_action_predispatch>
      <customer_login>
        <observers>
          <set_company_in_session_login>
            <class>Company_Users_Model_Observer</class>
            <method>set_company_in_session</method>
          </set_company_in_session_login>
        </observers>
      </customer_login>
      <sales_order_place_before>
        <observers>
          <save_custom_data>
            <class>Company_Users_Model_OrderObserver</class>
            <method>saveCheckoutCustomDataToOrder</method>
          </save_custom_data>
        </observers>
      </sales_order_place_before>
    </events>
  </frontend>
  <global>
    <helpers>
      <users>
        <class>Company_Users_Helper</class>
      </users>
    </helpers>
	<blocks>
	  <users>
		<class>Company_Users_Block</class>
	  </users>
	</blocks>

    <resources>
      <user_setup>
        <setup>
          <module>Company_Users</module>
          <class>Mage_Core_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </user_setup>
      <user_write>
        <connection>
          <use>core_write</use>
        </connection>
      </user_write>
      <user_read>
        <connection>
          <use>core_read</use>
        </connection>
      </user_read>
    </resources>

    <models>
      <users>
        <class>Company_Users_Model</class>
        <resourceModel>company_resource</resourceModel>
      </users>
      <company_resource>
        <class>Company_Users_Model_Resource</class>
        <entities>
          <company>
            <table>kitnekaa_company</table>
          </company>
        </entities>
      </company_resource>
     <customer>
        <rewrite>
          <customer>Company_Users_Model_Customer</customer>
        </rewrite>
      </customer>
    </models>
    <events>
      <customer_save_before>
        <observers>
          <company_handle_before_save>
            <class>Company_Users_Model_Observer</class>
            <method>customer_save_before</method>
          </company_handle_before_save>
        </observers>
      </customer_save_before>
      <customer_save_after>
        <observers>
          <customer_handle_after_save>
            <class>Company_Users_Model_Observer</class>
            <method>customer_save_after</method>
          </customer_handle_after_save>
        </observers>
      </customer_save_after>
      <controller_action_predispatch_adminhtml_sales_order_view>
        <observers>
          <sales_view_order>
            <class>Company_Users_Model_Observer</class>
            <method>sales_view_order</method>
          </sales_view_order>
        </observers>
      </controller_action_predispatch_adminhtml_sales_order_view>
    </events>
  </global>
  <adminhtml>
    <layout>
      <updates>
        <users>
          <file>companyuserstab.xml</file>
        </users>
      </updates>
    </layout>
    <events>
      <sales_order_grid_collection_load_before>
        <observers>
          <kitnekaa_extendedgrid>
            <class>Company_Users_Model_OrderObserver</class>
            <method>salesOrderGridCollectionLoadBefore</method>
          </kitnekaa_extendedgrid>
        </observers>
      </sales_order_grid_collection_load_before>
    </events>
  </adminhtml>
</config> 