<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Sm_Shopby>
            <version>3.0.1</version>
        </Sm_Shopby>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer>Sm_Shopby_Model_Catalog_Layer</layer>
                    <layer_filter_item>Sm_Shopby_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_category>Sm_Shopby_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_attribute>Sm_Shopby_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Sm_Shopby_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer>Sm_Shopby_Model_CatalogSearch_Layer</layer>
                    <layer_filter_attribute>Sm_Shopby_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Sm_Shopby_Model_Catalog_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog_resource>
            <sm_shopby>
                <class>Sm_Shopby_Model</class>
                <resourceModel>sm_shopby_resource</resourceModel>
            </sm_shopby>
            <sm_shopby_resource>
                <class>Sm_Shopby_Model_Resource</class>
                <entities>
                    <attribute_url_key>
                        <table>sm_shopby_attribute_url_key</table>
                    </attribute_url_key>
                </entities>
            </sm_shopby_resource>
        </models>
        <resources>
            <sm_shopby_setup>
                <setup>
                    <module>Sm_Shopby</module>
                </setup>
            </sm_shopby_setup>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <layer_state>Sm_Shopby_Block_Catalog_Layer_State</layer_state>
                    <product_list_toolbar>Sm_Shopby_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                    <layer_filter_attribute>Sm_Shopby_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Sm_Shopby_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>Sm_Shopby_Block_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
            <sm_shopby>
                <class>Sm_Shopby_Block</class>
            </sm_shopby>
        </blocks>
        <helpers>
            <sm_shopby>
                <class>Sm_Shopby_Helper</class>
            </sm_shopby>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <sm_shopby>
                        <class>Sm_Shopby_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </sm_shopby>
                </observers>
            </controller_front_init_routers>
        </events>
        <index>
            <indexer>
                <sm_shopby_attribute>
                    <model>sm_shopby/indexer_attribute</model>
                </sm_shopby_attribute>
            </indexer>
        </index>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Sm_Shopby before="Mage_Catalog">Sm_Shopby</Sm_Shopby>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <Sm_Shopby before="Mage_CatalogSearch">Sm_Shopby</Sm_Shopby>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <shopby module="Sm_Shopby">
                    <file>sm/shopby.xml</file>
                </shopby>
            </updates>
        </layout>
    </frontend>
    <default>
        <sm_shopby>
            <catalog>
                <enabled>1</enabled>
                <use_ajax>1</use_ajax>
                <price_slider>1</price_slider>
                <multiple_filters>1</multiple_filters>
				<routing_suffix>filter</routing_suffix>
            </catalog>
        </sm_shopby>
    </default>
</config>