<?xml version="1.0"?>
<!--
/**
 * Unirgy LLC
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.unirgy.com/LICENSE-M1.txt
 *
 * @category   Unirgy
 * @package    Unirgy_DropshipVendorTax
 * @copyright  Copyright (c) 2008-2009 Unirgy LLC (http://www.unirgy.com)
 * @license    http:///www.unirgy.com/LICENSE-M1.txt
 */

-->
<config>
    <modules>
        <Unirgy_DropshipVendorTax>
            <version>2.4.0</version>
        </Unirgy_DropshipVendorTax>
    </modules>

    <global>
        <models>
            <udtax>
                <class>Unirgy_DropshipVendorTax_Model</class>
                <resourceModel>udtax_mysql4</resourceModel>
            </udtax>
            <udtax_mysql4>
                <class>Unirgy_DropshipVendorTax_Model_Mysql4</class>
            </udtax_mysql4>
            <tax>
                <rewrite>
                    <observer>Unirgy_DropshipVendorTax_Model_TaxObserver</observer>
                </rewrite>
            </tax>
        </models>

        <resources>
            <udtax_setup>
                <setup>
                    <module>Unirgy_DropshipVendorTax</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </udtax_setup>
            <udtax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </udtax_write>
            <udtax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </udtax_read>
        </resources>

        <blocks>
            <udtax>
                <class>Unirgy_DropshipVendorTax_Block</class>
            </udtax>
        </blocks>

        <helpers>
            <udtax>
                <class>Unirgy_DropshipVendorTax_Helper</class>
            </udtax>
            <tax>
                <rewrite>
                    <data>Unirgy_DropshipVendorTax_Helper_Tax</data>
                </rewrite>
            </tax>
        </helpers>

        <udropship>
            <vendor>
                <fields>
                </fields>
            </vendor>
        </udropship>

        <template>
            <email>
            </email>
        </template>

        <events>
            <udropship_vendor_save_commit_after>
                <observers>
                    <udtax>
                        <type>singleton</type>
                        <class>udtax/observer</class>
                        <method>udropship_vendor_save_commit_after</method>
                    </udtax>
                </observers>
            </udropship_vendor_save_commit_after>
            <controller_front_init_before>
                <observers>
                    <udtax>
                        <type>singleton</type>
                        <class>udtax/observer</class>
                        <method>controller_front_init_before</method>
                    </udtax>
                </observers>
            </controller_front_init_before>
            <udropship_init_config_rewrites>
                <observers>
                    <udtax>
                        <type>singleton</type>
                        <class>udtax/observer</class>
                        <method>udropship_init_config_rewrites</method>
                    </udtax>
                </observers>
            </udropship_init_config_rewrites>
            <udropship_quote_item_setUdropshipVendor>
                <observers>
                    <udtax>
                        <type>singleton</type>
                        <class>udtax/observer</class>
                        <method>udropship_quote_item_setUdropshipVendor</method>
                    </udtax>
                </observers>
            </udropship_quote_item_setUdropshipVendor>
        </events>

    </global>

    <frontend>
        <routers>
            <udtax>
                <use>standard</use>
                <args>
                    <module>Unirgy_DropshipVendorTax</module>
                    <frontName>udtax</frontName>
                </args>
            </udtax>
        </routers>
        <layout>
            <updates>
                <udtax>
                    <file>udtax.xml</file>
                </udtax>
            </updates>
        </layout>
        <events>
            <udropship_vendor_front_preferences>
                <observers>
                    <udtax>
                        <class>udtax/observer</class>
                        <method>udropship_vendor_front_preferences</method>
                    </udtax>
                </observers>
            </udropship_vendor_front_preferences>
            <udropship_vendor_preferences_save_before>
                <observers>
                    <udtax>
                        <class>udtax/observer</class>
                        <method>udropship_vendor_preferences_save_before</method>
                    </udtax>
                </observers>
            </udropship_vendor_preferences_save_before>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adminudtax before="Mage_Adminhtml">Unirgy_DropshipVendorTax_AdminhtmlRewrite</adminudtax>
                        <udtaxadmin after="Mage_Adminhtml">Unirgy_DropshipVendorTax</udtaxadmin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <udtax>
                </udtax>
            </updates>
        </layout>
        <events>
            <udropship_adminhtml_vendor_edit_prepare_form>
                <observers>
                    <udtax>
                        <class>udtax/observer</class>
                        <method>udropship_adminhtml_vendor_edit_prepare_form</method>
                    </udtax>
                </observers>
            </udropship_adminhtml_vendor_edit_prepare_form>
            <udropship_adminhtml_vendor_grid_prepare_columns>
                <observers>
                    <udtax>
                        <class>udtax/observer</class>
                        <method>udropship_adminhtml_vendor_grid_prepare_columns</method>
                    </udtax>
                </observers>
            </udropship_adminhtml_vendor_grid_prepare_columns>
            <udropship_adminhtml_vendor_grid_prepare_massaction>
                <observers>
                    <udtax>
                        <class>udtax/observer</class>
                        <method>udropship_adminhtml_vendor_grid_prepare_massaction</method>
                    </udtax>
                </observers>
            </udropship_adminhtml_vendor_grid_prepare_massaction>
        </events>

        <menu>
            <sales>
                <children>
                    <tax>
                        <children>
                            <classes_vendor translate="title" module="udropship">
                                <title>Vendor Tax Classes</title>
                                <action>adminhtml/tax_class_vendor</action>
                            </classes_vendor>
                        </children>
                    </tax>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <tax>
                                    <children>
                                        <classes_vendor translate="title" module="udropship">
                                            <title>Vendor Tax Classes</title>
                                            <sort_order>11</sort_order>
                                        </classes_vendor>
                                    </children>
                                </tax>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <udropship>
	    </udropship>
    </default>

    <crontab>
        <jobs>
        </jobs>
    </crontab>
</config>
