<?xml version="1.0"?>
<config>
	  <modules>
		    <Nest_Taxcation>
			     <version>1.0.0</version>
		    </Nest_Taxcation>
	  </modules>
    <global>
        <blocks>
            <taxcation>
                <class>Nest_Taxcation_Block</class>
                <renderer>taxcation/checkout_totals_taxcation</renderer>
                <admin_renderer>taxcation/adminhtml_sales_order_create_totals_taxcation</admin_renderer>
            </taxcation>
        </blocks>
        <helpers>
            <taxcation>
                <class>Nest_Taxcation_Helper</class>
            </taxcation>
        </helpers>
        <models>
            <taxcation>
                <class>Nest_Taxcation_Model</class>
            </taxcation>
        </models>

        <sales>
            <quote>
                <totals>
                    <taxcation>
                        <class>taxcation/sales_quote_address_total_taxcation</class>
                    </taxcation>
                </totals>
            </quote>

            <order_invoice>
                <totals>
                    <taxcation>
                        <class>taxcation/sales_order_total_invoice_taxcation</class>
                    </taxcation>
                </totals>
            </order_invoice>

            <order_creditmemo>
                <totals>
                    <taxcation>
                        <class>taxcation/sales_order_total_creditmemo_taxcation</class>
                    </taxcation>
                </totals>
            </order_creditmemo>
        </sales>

        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <nest_taxcation_checkout_cart_product_add_after>
                         <type>model</type>
                         <class>Nest_Taxcation_Model_Observer</class>
                         <method>checkoutCartProductAddAfter</method>
                    </nest_taxcation_checkout_cart_product_add_after>
                </observers>
            </checkout_cart_product_add_after>

            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <nest_taxcation_checkout_post_shipping_address_after>
                          <type>model</type>
                          <class>Nest_Taxcation_Model_Observer</class>
                          <method>checkoutShippingAddressSaveAfter</method>
                    </nest_taxcation_checkout_post_shipping_address_after>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>

       <fieldsets>
           <!-- copies data from quote address to order during the order placement -->
           <sales_convert_quote_address>
                <nest_tax_name>
                   <to_order>*</to_order>
                </nest_tax_name>
                <nest_tax_total_amount>
                   <to_order>*</to_order>
                </nest_tax_total_amount>
           </sales_convert_quote_address>

           <sales_convert_quote_item>
                <nest_tax_percent>
                   <to_order_item>*</to_order_item>
                </nest_tax_percent>
                <nest_tax_amount>
                   <to_order_item>*</to_order_item>
                </nest_tax_amount>
           </sales_convert_quote_item>
           <!-- copies data from order to invoice/shipment/creditmemo during their creation -->
           <sales_convert_order>
                <nest_tax_name>
                   <to_invoice>*</to_invoice>
                   <to_shipment>*</to_shipment>
                   <to_cm>*</to_cm>
                </nest_tax_name>
                <nest_tax_total_amount>
                   <to_invoice>*</to_invoice>
                   <to_shipment>*</to_shipment>
                   <to_cm>*</to_cm>
                </nest_tax_total_amount>
           </sales_convert_order>

           <sales_convert_order_item>
               <nest_tax_percent>
                   <to_quote_item>*</to_quote_item>
                   <to_invoice_item>*</to_invoice_item>
                   <to_shipment_item>*</to_shipment_item>
                   <to_cm_item>*</to_cm_item>
                </nest_tax_percent>
                <nest_tax_amount>
                   <to_quote_item>*</to_quote_item>
                   <to_invoice_item>*</to_invoice_item>
                   <to_shipment_item>*</to_shipment_item>
                   <to_cm_item>*</to_cm_item>
                </nest_tax_amount>
           </sales_convert_order_item>
       </fieldsets>

        <pdf>
            <totals>
                <taxcation translate="title">
                    <title>Vat</title>
                    <source_field>nest_tax_total_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </taxcation>
            </totals>
        </pdf>

       <resources>
           <taxcation_setup>
               <setup>
                   <module>Nest_Taxcation</module>
               </setup>
           </taxcation_setup>
       </resources>

    </global>
    <frontend>
        <routers>
            <taxcation>
                <use>standard</use>
                <args>
                    <module>Nest_Taxcation</module>
                    <frontName>taxcation</frontName>
                </args>
            </taxcation>
        </routers>
        <layout>
            <updates>
                <taxcation>
                    <file>taxcation.xml</file>
                </taxcation>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <taxcation>
                    <file>taxcation.xml</file>
                </taxcation>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <taxcation>
                                            <title>Nest Taxcation ACL</title>
                                        </taxcation>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <sales>
            <totals_sort>
                <taxcation>15</taxcation>
            </totals_sort>
        </sales>
    </default>
</config>