<?xml version="1.0"?>
<config>
    <modules>
        <UnirgyCustom_Dropshipk>
            <version>0.1.0</version>
        </UnirgyCustom_Dropshipk>
    </modules>
    <frontend>
        <routers>
            <umember>
                <use>standard</use>
                <args>
                    <module>UnirgyCustom_Dropshipk</module>
                    <frontName>umember</frontName>
                </args>
            </umember>
        </routers>
        <layout>
            <updates>
                <unirgycustom_dropshipk module="UnirgyCustom_Dropshipk">
                    <file>umember/umember.xml</file>
                </unirgycustom_dropshipk>
            </updates>
        </layout>
    </frontend>
</config>