<?xml version="1.0"?>
<config>
    <modules>
        <Kitnekaa_Quote2SalesCustom>
            <version>0.1.6</version>
        </Kitnekaa_Quote2SalesCustom>
    </modules>
    <admin>
        <routers>
            <quote2sales>
                <args>
                    <modules>
                        <Kitnekaa_Quote2SalesCustom before="Bobcares_Quote2Sales">Kitnekaa_Quote2SalesCustom</Kitnekaa_Quote2SalesCustom>
                    </modules>
                </args>
            </quote2sales>
        </routers>
    </admin>
    <adminhtml>
        <events>
           <!-- <controller_action_predispatch_quote2sales_adminhtml_quote_create_save>
                <observers>
                    <custom_create_quote_save>
                        <class>Kitnekaa_Quote2SalesCustom_Model_Observer</class>
                        <method>custom_create_quote_save</method>
                    </custom_create_quote_save>
                </observers>
            </controller_action_predispatch_quote2sales_adminhtml_quote_create_save>-->
            <sales_quote_save_before>
                <observers>
                    <custom_data_on_quote_save>
                        <class>Kitnekaa_Quote2SalesCustom_Model_Observer</class>
                        <method>setCustomDataOnQuoteSave</method>
                    </custom_data_on_quote_save>
                </observers>
            </sales_quote_save_before>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <quote2sales>
                <rewrite>
                    <quote_totals>Kitnekaa_Quote2SalesCustom_Block_Quote_Totals</quote_totals>
                    <adminhtml_request_grid>Kitnekaa_Quote2SalesCustom_Block_Adminhtml_Request_Grid</adminhtml_request_grid>
                    <adminhtml_quote_grid>Kitnekaa_Quote2SalesCustom_Block_Adminhtml_Quote_Grid</adminhtml_quote_grid>
                    <adminhtml_quote_totals>Kitnekaa_Quote2SalesCustom_Block_Adminhtml_Quote_Totals</adminhtml_quote_totals>
                    <adminhtml_quote_create_items>Kitnekaa_Quote2SalesCustom_Block_Adminhtml_Quote_Create_Items</adminhtml_quote_create_items>
                    <adminhtml_request_view_info>Kitnekaa_Quote2SalesCustom_Block_Adminhtml_Request_View_Info</adminhtml_request_view_info>
                    <adminhtml_quote_view_items_renderer_default>Kitnekaa_Quote2SalesCustom_Block_Adminhtml_Quote_View_Items_Renderer_Default</adminhtml_quote_view_items_renderer_default>
                </rewrite>
            </quote2sales>
        </blocks>
        <events>
            <controller_action_predispatch_quote2sales_request_saverequest>
                <observers>
                    <quote2sales_saverequest_action>
                        <class>Kitnekaa_Quote2SalesCustom_Model_Observer</class>
                        <method>quote2sales_saverequest_action</method>
                    </quote2sales_saverequest_action>
                </observers>
            </controller_action_predispatch_quote2sales_request_saverequest>
            <controller_action_predispatch_quote2sales_index_post>
                <observers>
                    <quote2sales_index_post>
                        <class>Kitnekaa_Quote2SalesCustom_Model_Observer</class>
                        <method>quote2sales_index_post</method>
                    </quote2sales_index_post>
                </observers>
            </controller_action_predispatch_quote2sales_index_post>
        </events>
        <helpers>
            <quote2sales>
                <rewrite>
                    <data>Kitnekaa_Quote2SalesCustom_Helper_Data</data>
                </rewrite>
            </quote2sales>
        </helpers>
        <models>
            <quote2salescustom>
                <class>Kitnekaa_Quote2SalesCustom_Model</class>
                <resourceModel>quote2salescustom_mysql4</resourceModel>
            </quote2salescustom>
           <quote2sales>
                <rewrite>
                   <request>Kitnekaa_Quote2SalesCustom_Model_Request</request>
                </rewrite>
            </quote2sales>
            <quote2salescustom_mysql4>
                <class>Kitnekaa_Quote2SalesCustom_Model_Mysql4</class>
                <entities>
                    <requestproducts>
                        <table>quote2sales_requests_products</table>
                    </requestproducts>
                    <requestitemfiles>
                        <table>quote2sales_item_files</table>
                    </requestitemfiles>
                </entities>
            </quote2salescustom_mysql4>
        </models>
        <resources>
            <kitnekaa_quote2sales_setup>
                <setup>
                    <module>Kitnekaa_Quote2SalesCustom</module>
                    <class>Kitnekaa_Quote2SalesCustom_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kitnekaa_quote2sales_setup>
            <kitnekaa_quote2sales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kitnekaa_quote2sales_write>
            <kitnekaa_quote2sales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kitnekaa_quote2sales_read>
        </resources>

    </global>
</config>