<?xml version="1.0"?>
<config>
	<global>
		<models>
            <quickview>
                <class>Sm_Quickview_Model</class>
            </quickview>
        </models>
		<blocks>
            <quickview>
                <class>Sm_Quickview_Block</class>
            </quickview>            		
        </blocks>				
		<helpers>
            <quickview>
                <class>Sm_Quickview_Helper</class>
            </quickview>
        </helpers>
        <resources>
        	<quickview_setup>
        		<setup>
        			<module>Sm_Quickview</module>
        		</setup>
        	</quickview_setup>
			<quickview_write>
				<connection>
                    <use>core_write</use>
                </connection>
			</quickview_write>
			 <quickview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quickview_read>
        </resources>
	</global>
	<frontend>
        <routers>
			<quickview>
                <use>standard</use>
                <args>
                    <module>Sm_Quickview</module>
                    <frontName>quickview</frontName>
                </args>
            </quickview>
        </routers>
		<layout>
            <updates>
                <quickview module="Sm_Quickview">
					<file>sm/quickview.xml</file>
                </quickview>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Quickview>
                     <files>
                          <default>Sm_Quickview.csv</default>
                     </files>
                </Sm_Quickview>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Quickview>
                     <files>
                          <default>Sm_Quickview.csv</default>
                     </files>
                </Sm_Quickview>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<quickview translate="title" module="quickview">
											<title>SM Quickview Settings</title>
										</quickview>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <quickview>
            <general>
                <active>1</active>
				<item_class>.products-grid .item .product-image,.products-list .item .product-image</item_class>
				<label_button>Quick View</label_button>
				<auto_size>0</auto_size>
				<popup_width>820px</popup_width>
				<popup_height>450px</popup_height>
				<display_overlay>1</display_overlay>
				<!-- <showEarly>0</showEarly> -->
				<open_effect>elastic</open_effect>
				<close_effect>elastic</close_effect>
				<include_jquery>0</include_jquery>
            </general>		
        </quickview>
    </default>
</config>