<config>
    <modules>
        <Sm_Cameraslide>
            <version>1.0.0</version>
        </Sm_Cameraslide>
    </modules>
    <global>
    	<models>
    		<sm_cameraslide>
    			<class>Sm_Cameraslide_Model</class>
                <resourceModel>cameraslide_resource</resourceModel>
    		</sm_cameraslide>
            <cameraslide_resource>
                <class>Sm_Cameraslide_Model_Resource</class>
                <entities>
                    <slide>
                        <table>sm_cameraslide_slide</table>
                    </slide>
                    <sliders>
                        <table>sm_cameraslide_sliders</table>
                    </sliders>
                </entities>
            </cameraslide_resource>
    	</models>
        <resources>
            <sm_cameraslide_setup>
                <setup>
                    <module>Sm_Cameraslide</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_cameraslide_setup>
            <sm_cameraslide_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sm_cameraslide_write>
            <sm_cameraslide_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sm_cameraslide_read>
        </resources>

    	<blocks>
            <sm_cameraslide>
    			<class>Sm_Cameraslide_Block</class>
    		</sm_cameraslide>
            <adminhtml>
                <rewrite>
                    <cms_wysiwyg_images_content>Sm_Cameraslide_Block_Adminhtml_Cms_Wysiwyg_Images_Content</cms_wysiwyg_images_content>
                </rewrite>
            </adminhtml>
    	</blocks>
    	<helpers>
    		<sm_cameraslide>
    			<class>Sm_Cameraslide_Helper</class>
    		</sm_cameraslide>
            <cms>
                <rewrite>
                    <wysiwyg_images>Sm_Cameraslide_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
    	</helpers>
    </global>

    <frontend>
        <routers>
            <sm_cameraslide>
                <use>standard</use>
                <args>
                    <module>Sm_Cameraslide</module>
                    <frontName>cameraslide</frontName>
                </args>
            </sm_cameraslide>
        </routers>
        <layout>
            <updates>
                <sm_cameraslide>
                    <file>sm/cameraslide.xml</file>
                </sm_cameraslide>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <sm_cameraslide>
                    <file>sm/cameraslide.xml</file>
                </sm_cameraslide>
            </updates>
        </layout>
        <cms>
            <browser>
                <extensions>
                    <media_allowed>
                        <mp4>1</mp4>
                        <webm>1</webm>
                        <ogv>1</ogv>
                        <ogg>1</ogg>
                    </media_allowed>
                </extensions>
            </browser>
        </cms>
    </adminhtml>

    <admin>
        <routers>
            <sm_cameraslide>
                <use>admin</use>
                <args>
                    <module>Sm_Cameraslide</module>
                    <frontName>cameraslide</frontName>
                </args>
            </sm_cameraslide>
            <adminhtml>
                <args>
                    <modules>
                        <Sm_Cameraslide before="Mage_Adminhtml">Sm_Cameraslide_Adminhtml</Sm_Cameraslide>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <cameraslide>
            <general>
                <enabled>0</enabled>
            </general>
        </cameraslide>
    </default>
</config>