<?xml version="1.0"?>
<config>
    <global>
        <models>
            <listingextend>
                <class>Sm_ListingExtend_Model</class>
            </listingextend>
        </models>
        <blocks>
            <listingextend>
                <class>Sm_ListingExtend_Block</class>
            </listingextend>
        </blocks>
        <helpers>
            <listingextend>
                <class>Sm_ListingExtend_Helper</class>
            </listingextend>
        </helpers>
        <resources>
            <listingextend_setup>
                <setup>
                    <module>Sm_ListingExtend</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </listingextend_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <listingextend>
                <use>standard</use>
                <args>
                    <module>Sm_ListingExtend</module>
                    <frontName>listingextend</frontName>
                </args>
            </listingextend>
        </routers>
        <layout>
            <updates>
                <listingextend module="Sm_ListingExtend">
                    <file>sm/listingextend.xml</file>
                </listingextend>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sm_ListingExtend>
                    <files>
                        <default>Sm_ListingExtend.csv</default>
                    </files>
                </Sm_ListingExtend>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Sm_ListingExtend>
                    <files>
                        <default>Sm_ListingExtend.csv</default>
                    </files>
                </Sm_ListingExtend>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <listingextend_cfg translate="title" module="listingextend">
                                            <title>SM Listing Extend Settings</title>
                                        </listingextend_cfg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <listingextend module="Sm_ListingExtend">
                    <file>sm/listingextend.xml</file>
                </listingextend>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <listingextend_cfg>
            <general>
                <active>1</active>
                <title>Title Listing Extend</title>
				<description></description>
				<listing_type>1</listing_type>
				<under_price>1.99</under_price>
                <product_links_target>_self</product_links_target>
                <nb_column1>4</nb_column1>
                <nb_column2>3</nb_column2>
                <nb_column3>2</nb_column3>
                <nb_column4>1</nb_column4>
                <nb_rows>3</nb_rows>
            </general>

            <source_options>
                <product_source>0</product_source>
                <product_category></product_category>
                <child_category_products>1</child_category_products>
                <max_depth>1</max_depth>
                <product_featured>0</product_featured>
                <product_order_by>name</product_order_by>
                <product_order_dir>ASC</product_order_dir>
                <product_limitation>36</product_limitation>
                <product_additem></product_additem>
                <product_ids></product_ids>
            </source_options>

            <product_options>
                <product_title_display>1</product_title_display>
                <product_title_maxlength>25</product_title_maxlength>
                <product_image_width>200</product_image_width>
                <product_image_height>200</product_image_height>
                <product_description_display>1</product_description_display>
                <product_description_maxlength>150</product_description_maxlength>
                <product_price_display>1</product_price_display>
                <product_reviews_count>1</product_reviews_count>
                <product_addcart_display>1</product_addcart_display>
                <product_addwishlist_display>1</product_addwishlist_display>
                <product_addcompare_display>1</product_addcompare_display>
            </product_options>

            <image_options>
                <imgcfg_from_product_image>1</imgcfg_from_product_image>
                <imgcfg_from_product_description>1</imgcfg_from_product_description>
                <imgcfg_order>product_image, product_description</imgcfg_order>
                <imgcfg_function>1</imgcfg_function>
                <imgcfg_width>200</imgcfg_width>
                <imgcfg_height>200</imgcfg_height>
                <imgcfg_constrainOnly>false</imgcfg_constrainOnly>
                <imgcfg_keepAspectRatio>true</imgcfg_keepAspectRatio>
                <imgcfg_keepFrame>true</imgcfg_keepFrame>
                <imgcfg_keepTransparency>true</imgcfg_keepTransparency>
                <imgcfg_background>FFFFFF</imgcfg_background>
                <imgcfg_placeholder>sm/listingextend/images/nophoto.jpg</imgcfg_placeholder>
            </image_options>

            <effect_options>
                <autoPlay>1</autoPlay>
                <slideSpeed>2000</slideSpeed>
                <paginationSpeed>800</paginationSpeed>
                <rewindSpeed>1000</rewindSpeed>
                <scrollPerPage>1</scrollPerPage>
                <pause_hover>1</pause_hover>
                <mouseDrag>1</mouseDrag>
                <touchDrag>1</touchDrag>
                <effect>zoomOut</effect>
                <duration>600</duration>
                <delay>300</delay>
            </effect_options>

            <advanced>
                <include_jquery>1</include_jquery>
                <pretext></pretext>
                <posttext></posttext>
            </advanced>
        </listingextend_cfg>
    </default>
</config>