<?xml version="1.0"?>
<config>
    <tabs>
        <sm>
            <label>MagenTech.Com</label>
            <sort_order>205</sort_order>
        </sm>
    </tabs>
    <sections>
        <listingextend_cfg translate="label" module="listingextend">
            <label>SM Listing Extend</label>
            <tab>sm</tab>
            <frontend_type>text</frontend_type>
            <sort_order>150</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <!-- Begin General Settings Group -->
                <general translate="label" module="listingextend">
                    <expanded>1</expanded>
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enable/Disable</label>
                            <sort_order>1</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title Module</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <description translate="label">
                            <label>Description</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <listing_type translate="label">
                            <label>Listing Types</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_ListingTypes</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </listing_type>		
                        <under_price translate="label">
                            <label>Under price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <listing_type>2</listing_type>
                            </depends>							
                        </under_price>						
                        <product_links_target translate="label">
                            <label>Link Target</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_LinkTargets</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_links_target>
                        <heading1 translate="label">
                            <label>For devices have screen width from 1200px up to greater.</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </heading1>
                        <nb_column1 translate="label">
                            <label>#Column</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_ColumnSetting</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nb_column1>
                        <heading2 translate="label">
                            <label>For devices have screen width from 992px up to 1199px.</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                        </heading2>
                        <nb_column2 translate="label">
                            <label>#Column</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_ColumnSetting</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nb_column2>
                        <heading3 translate="label">
                            <label>For devices have screen width from 768px up to 991px.</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                        </heading3>
                        <nb_column3 translate="label">
                            <label>#Column</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_ColumnSetting</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nb_column3>
                        <heading4 translate="label">
                            <label>For devices have screen width less than or equal 767px.</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                        </heading4>
                        <nb_column4 translate="label">
                            <label>#Column</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_ColumnSetting</source_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nb_column4>
                        <heading5 translate="label">
                            <label>Number rows of items</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                        </heading5>
                        <nb_rows translate="label">
                            <label>#Row</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_RowSetting</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </nb_rows>
                    </fields>
                </general>
                <!-- End General Settings Group -->

                <!-- Begin Source Options Settings Group -->
                <source_options translate="label">
                    <label>Source Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <product_source translate="label">
                            <label>Product Source</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_ListSource</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_source>
                        <product_category translate="label">
                            <label>Select Category</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>listingextend/system_config_source_ListCategory</source_model>
                            <comment>Please select one or more categories.</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <product_source>catalog</product_source>
                            </depends>
                        </product_category>
                        <child_category_products translate="label">
                            <label>Child Category Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_IncludeExclude</source_model>
                            <comment>Include or Exclude Products from Child Categories.</comment>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <product_source>catalog</product_source>
                            </depends>
                        </child_category_products>
                        <max_depth translate="label">
                            <label>Category Depth</label>
                            <frontend_type>text</frontend_type>
                            <comment>The number of child category levels to return.</comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <product_source>catalog</product_source>
                            </depends>
                        </max_depth>
                        <product_featured translate="label">
                            <label>Featured Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_FeaturedOptions</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <product_source>catalog</product_source>
                            </depends>
                        </product_featured>
                        <product_order_by translate="label">
                            <label>Product Field to Order By</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_OrderBy</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <product_source>catalog</product_source>
                            </depends>
                        </product_order_by>
                        <product_order_dir translate="label">
                            <label>Ordering Direction</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_OrderDirection</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>For Order By: ID, Name, Date Created, Price</comment>
                            <depends>
                                <product_source>catalog</product_source>
                            </depends>
                        </product_order_dir>
                        <product_limitation translate="label">
                            <label>Product Limitation</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <product_source>catalog</product_source>
                            </depends>
                        </product_limitation>
                        <product_additem translate="label">
                            <label>Media Source</label>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <frontend_model>listingextend/adminhtml_system_config_form_field_Additem</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add Item</comment>
                            <depends>
                                <product_source>media</product_source>
                            </depends>
                        </product_additem>
                        <product_ids translate="label">
                            <label>Product IDs</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please enter each Product ID on a new line.</comment>
                            <depends>
                                <product_source>ids</product_source>
                            </depends>
                        </product_ids>
                    </fields>
                </source_options>
                <!-- End Source Options Group -->

                <!-- Begin Product Options Group -->
                <product_options translate="label">
                    <label>Product Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <product_title_heading translate="label">
                            <label>Product Title</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </product_title_heading>
                        <product_title_display translate="label">
                            <label>Display</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_title_display>
                        <product_title_maxlength translate="label">
                            <label>Max Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_title_maxlength>
                        <product_description_heading translate="label">
                            <label>Product Description</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                        </product_description_heading>
                        <product_description_display translate="label">
                            <label>Display</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_description_display>
                        <product_description_maxlength translate="label">
                            <label>Max Length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_description_maxlength>
                        <product_other_infomations_heading translate="label">
                            <label>Others</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                        </product_other_infomations_heading>
                        <product_price_display translate="label">
                            <label>Display Price</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_price_display>
                        <product_reviews_count translate="label">
                            <label>Display Reviews Summary</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_reviews_count>
                        <product_addcart_display translate="label">
                            <label>Display Add To Cart</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_addcart_display>
                        <product_addwishlist_display translate="label">
                            <label>Display Add Wishlist</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_addwishlist_display>
                        <product_addcompare_display translate="label">
                            <label>Display Add Compare</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_addcompare_display>
                    </fields>
                </product_options>
                <!-- End Source Options Group -->

                <!-- End Image Options Group -->
                <image_options translate="label">
                    <label>Image Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <product_image_heading translate="label">
                            <label>Get Image from Product Image</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </product_image_heading>
                        <imgcfg_from_product_image translate="label">
                            <label>Product Image</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imgcfg_from_product_image>
                        <product_image_heading1 translate="label">
                            <label>Get Image from Product Description</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                        </product_image_heading1>
                        <imgcfg_from_product_description translate="label">
                            <label>Product Description</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imgcfg_from_product_description>
                        <imgcfg_order translate="label">
                            <label>Order to Get</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imgcfg_order>
                        <imgcfg_function translate="label">
                            <label>Resize</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imgcfg_function>
                        <imgcfg_width translate="label">
                            <label>Image Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imgcfg_width>
                        <imgcfg_height translate="label">
                            <label>Image Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imgcfg_height>
                        <imgcfg_constrainOnly translate="label">
                            <label>Constrain Only</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>listingextend/system_config_source_TrueFalse</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If the "constrainOnly" parameter is set to true, in this case the images which are
                                smaller than specified value will be not enlarged by Magento. Only border of such images
                                will increase.
                            </comment>
                        </imgcfg_constrainOnly>
                        <imgcfg_keepAspectRatio translate="label">
                            <label>Keep Aspect Ratio</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>listingextend/system_config_source_TrueFalse</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If the "keepAspectRatio" parameter is set to true, in this case the proportions of
                                the image will not be modified.
                            </comment>
                        </imgcfg_keepAspectRatio>
                        <imgcfg_keepFrame translate="label">
                            <label>Keep Frame</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>listingextend/system_config_source_TrueFalse</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The "keepFrame" parameter guarantees that the image will be not cropped. When
                                "keepAspectRatio" is false the "keepFrame" will not work.
                            </comment>
                        </imgcfg_keepFrame>
                        <imgcfg_keepTransparency translate="label">
                            <label>Keep Transparency</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>listingextend/system_config_source_TrueFalse</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>The "keepTransparency" parameter keep the transparent background of the images.
                            </comment>
                        </imgcfg_keepTransparency>
                        <imgcfg_background translate="label">
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Please Click the text box to select color</comment>
                        </imgcfg_background>
                        <imgcfg_placeholder>
                            <label>Placeholder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imgcfg_placeholder>
                    </fields>
                </image_options>
                <!-- End Image Options Group -->

                <!-- Begin Effect Options Group -->
                <effect_options translate="label">
                    <label>Effect Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <autoPlay translate="label">
                            <label>Auto Play</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </autoPlay>
                        <slideSpeed translate="label">
                            <label>Slide Speed</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Slide speed in milliseconds</comment>
                        </slideSpeed>
                        <paginationSpeed translate="label">
                            <label>Pagination Speed</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Pagination speed in milliseconds</comment>
                        </paginationSpeed>
                        <rewindSpeed translate="label">
                            <label>Rewind Speed</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Rewind speed in milliseconds</comment>
                        </rewindSpeed>
                        <scrollPerPage translate="label">
                            <label>Scroll Per Page</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Scroll per page not per item. This affect next/prev buttons and mouse/touch
                                dragging.
                            </comment>
                        </scrollPerPage>
                        <pause_hover translate="label">
                            <label>Pause On Hover</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pause_hover>
                        <mouseDrag translate="label">
                            <label>Mouse Events</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mouseDrag>
                        <touchDrag translate="label">
                            <label>Touch Events</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </touchDrag>
                        <effect>
                            <label>Effect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>listingextend/system_config_source_Effect</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </effect>
                        <duration translate="label">
                            <label>Duration</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Determining how long the animation will run. Larger = Slower</comment>
                        </duration>
                        <delay translate="label">
                            <label>Delay</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Sets a timer to delay the execution of the next item in the queue. Larger =
                                Slower"
                            </comment>
                        </delay>
                    </fields>
                </effect_options>
                <!-- End Effect Options Group -->

                <!-- Begin Advanced Options Group -->
                <advanced translate="label">
                    <label>Advanced Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <include_jquery translate="label">
                            <label>Include jQuery</label>
                            <frontend_type>radios</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </include_jquery>
                        <pretext translate="label">
                            <label>Pre-text</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pretext>
                        <posttext translate="label">
                            <label>Post-text</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </posttext>
                    </fields>
                </advanced>
                <!-- End Effect Options Group -->

                <product_information translate="label">
                    <label>Product Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <author translate="label">
                            <label><![CDATA[<p>Author: <a target="_blank" title="Magen Tech" href="http://www.magentech.com">Magen Tech</a></p>
											<p>Version: 1.0.0</p>
											<p>Userguide: <a target="_blank" title="Userguide" href="http://www.magentech.com/extensions/extension-user-guides">Userguide</a></p>
											<p>Support: <a target="_blank" href="http://www.magentech.com/forum">Forum</a></p>
								]]>
                            </label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </author>
                    </fields>
                </product_information>

            </groups>
        </listingextend_cfg>
    </sections>
</config>