<?xml version="1.0"?>
<config>
    <modules>
        <Sm_Megamenu>
            <version>0.1.0</version>
        </Sm_Megamenu>
    </modules>
	<global>
        <models>
            <megamenu>
                <class>Sm_Megamenu_Model</class>
                <resourceModel>megamenu_mysql4</resourceModel>
            </megamenu>
            <megamenu_mysql4>
                <class>Sm_Megamenu_Model_Mysql4</class>
                <entities>
                    <menugroup>
                        <table>sm_menu_groups</table>
                    </menugroup>
					<menuitems>
                        <table>sm_menu_items</table>
                    </menuitems>
                </entities>
            </megamenu_mysql4>
			<cms>
					<rewrite>
							<wysiwyg_images_storage>Sm_Megamenu_Model_Wysiwyg_Images_Storage</wysiwyg_images_storage>
					</rewrite>
			</cms>			
        </models>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Sm_Megamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
        <blocks>
            <megamenu>
                <class>Sm_Megamenu_Block</class>
            </megamenu>
			<widget>            
				<rewrite>  
					<adminhtml_widget_chooser>Sm_Megamenu_Block_Adminhtml_Widget_Chooser</adminhtml_widget_chooser> 
				</rewrite>  
			</widget>  
        </blocks>
        <helpers>
            <megamenu>
                <class>Sm_Megamenu_Helper</class>
            </megamenu>
        </helpers>
		<events>
	        <megamenu_menugroup_save_after>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>createRoot</method>
                    </megamenu>
                </observers>
            </megamenu_menugroup_save_after>	
	        <megamenu_menuitems_setItemLR_before>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>setItemLR</method>
                    </megamenu>
                </observers>
            </megamenu_menuitems_setItemLR_before>
			<megamenu_menuitems_setItemLRWhileEdit_before>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>setItemLRWhileEdit</method>
                    </megamenu>
                </observers>			
			</megamenu_menuitems_setItemLRWhileEdit_before>				
	        <megamenu_menuitems_updateItemsLR_after>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>updateItemsLR</method>
                    </megamenu>
                </observers>
            </megamenu_menuitems_updateItemsLR_after>
	        <megamenu_menuitems_setItemLRWhileEdit_after>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>updateItemsLRWhileEdit</method>
                    </megamenu>
                </observers>
            </megamenu_menuitems_setItemLRWhileEdit_after>			
	        <megamenu_menuitems_deleteItemLR_before>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>deleteItemsLR</method>
                    </megamenu>
                </observers>
            </megamenu_menuitems_deleteItemLR_before>	
			<megamenu_menuitems_getItemsByGroupId>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>getItemsByGroupId</method>
                    </megamenu>
                </observers>			
			</megamenu_menuitems_getItemsByGroupId>
			<megamenu_menuitems_getChildItemsByParentId>
                <observers>
                    <megamenu>
                        <type>singleton</type>
                        <class>megamenu/observer</class>
                        <method>getChildItemsByParentId</method>
                    </megamenu>
                </observers>			
			</megamenu_menuitems_getChildItemsByParentId>	
		</events>
    </global>	
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <module>Sm_Megamenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenu>
        </routers>
        <layout>
            <updates>
                <megamenu>
                    <file>sm/megamenu.xml</file>
                </megamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<megamenu>
				<use>admin</use>
				<args>
					<module>Sm_Megamenu</module>
					<frontName>megamenu</frontName>
				</args>
			</megamenu>
        </routers>
    </admin>
    <adminhtml>
		<!--menu>
			<megamenu module="megamenu">
				<title>SM MegaMenu</title>
				<sort_order>71</sort_order>               
				<children>
					<menugroup module="megamenu">
						<title>Menu Manager</title>
						<sort_order>0</sort_order>
						<action>megamenu/adminhtml_menugroup/</action>
					</menugroup>
					<menuitems module="megamenu">
						<title>Menu Items Manager</title>
						<sort_order>1</sort_order>
						<action>megamenu/adminhtml_menuitems/</action>
					</menuitems>
					<configurtion module="megamenu">
						<title>Configuration</title>
						<sort_order>5</sort_order>
						<action>adminhtml/system_config/edit/section/megamenu_cfg/</action>
					</configurtion>						
				</children>
			</megamenu>
		</menu-->
		<acl>
			<resources>
				<admin>
					<children>
						<megamenu translate="title" module="megamenu">
							<title>SM MegaMenu</title>
							<children>
								<menugroup translate="title" module="megamenu">
									<title>Menu Manager</title>
								</menugroup>
								<menuitems translate="title" module="megamenu">
									<title>Menu Items Manager</title>
								</menuitems>
								<configurtion translate="title" module="megamenu">
									<title>Configuration</title>
								</configurtion>
							</children>
						</megamenu>						
						<system>
							<children>
								<config>
									<children>										
										<megamenu_cfg translate="title" module="megamenu">
											<title>SM MegaMenu Settings</title>
										</megamenu_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<megamenu>
					<file>sm/megamenu.xml</file>
				</megamenu>
			</updates>
		</layout>
    </adminhtml>   
	<default>
		<megamenu_cfg>
			<general>
				<isenabled>1</isenabled>
				<title></title>
			</general>	
			<module_setting>
				<!--<module_width>960</module_width>-->
				<group_id>1</group_id>
				<group_id_h>2</group_id_h>
				<theme>1</theme>
				<effect>1</effect>
				<effect_duration>3</effect_duration>
				<start_level>1</start_level>
				<end_level>10</end_level>
			</module_setting>				
			<advanced>
				<include_jquery>0</include_jquery>
				<pretext></pretext>
				<posttext></posttext>
			</advanced>
		</megamenu_cfg>
	</default>
</config>