<?xml version="1.0"?>
<config>
    <modules>
        <UnirgyCustom_DropshipUsers>
            <version>0.1.0</version>
        </UnirgyCustom_DropshipUsers>
    </modules>
    <global>
        <!--<models>
            <dropshipusers>
                <class>UnirgyCustom_DropshipUsers_Model</class>
                <resourceModel>dropshipusers_mysql4</resourceModel>
            </dropshipusers>
            <dropshipusers_mysql4>
                <class>UnirgyCustom_DropshipUsers_Model_Mysql4</class>
                <entities>
                    <vendorequotes>
                        <table>vendor_quotes</table>
                    </vendorequotes>
                </entities>
            </dropshipusers_mysql4>
        </models>-->
        <resources>
            <dropshipusers_setup>
                <setup>
                    <module>UnirgyCustom_DropshipUsers</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dropshipusers_setup>
            <user_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </user_write>
            <user_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </user_read>
        </resources>
    </global>
</config>