<?xml version="1.0"?>
<config>
    <modules>
        <Sm_Cartpro>
            <version>0.1.0</version>
        </Sm_Cartpro>
    </modules>
    <global>
	    <!--<routers>
	            <checkout>
	                <rewrite>
	                    <cart>
	                        <to>Sm_Cartpro/index</to>
	                        <override_actions>true</override_actions>
	                        <actions>
	                           <noroute><to>Sm_Cartpro/index/noroute</to></noroute>
	                        </actions>
	                    </cart>
	                </rewrite>
	            </checkout>
	    </routers>-->
        <models>
            <cartpro>
                <class>Sm_Cartpro_Model</class>
                <resourceModel>cartpro_mysql4</resourceModel>
            </cartpro>
			<!--
            <cartpro_mysql4>
                <class>Sm_Cartpro_Model_Mysql4</class>
                <entities>
                    <cartpro>
                        <table>cartpro</table>
                    </cartpro>
                </entities>
            </cartpro_mysql4>-->
        </models>
        <resources>
            <cartpro_setup>
                <setup>
                    <module>Sm_Cartpro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cartpro_setup>
            <cartpro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cartpro_write>
            <cartpro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cartpro_read>
        </resources>
        <blocks>
            <cartpro>
                <class>Sm_Cartpro_Block</class>
            </cartpro>
            <!-- override block Mage_Wishlist_Block_Customer_Sidebar -->
			<wishlist>            
				<rewrite>  
                     <customer_sidebar>Sm_Cartpro_Block_Wishlist_Customer_Sidebar</customer_sidebar> 
				</rewrite>  
			</wishlist>  
		</blocks>
        <helpers>
            <cartpro>
                <class>Sm_Cartpro_Helper</class>
            </cartpro>
        </helpers>
		<helpers>
			<!-- override helper Mage_Core_Helper_Url -->
			<core>
				<rewrite>
					<url>Sm_Cartpro_Helper_Core_Url</url>
				</rewrite>
			</core>
			<!-- override helper Mage_Checkout_Helper_Cart -->
			<!--<checkout>
				<rewrite>
					<cart>Sm_Cartpro_Helper_Checkout_Cart</cart>
				</rewrite>
			</checkout>-->
			<catalog>
				<rewrite>
					<product_compare>Sm_Cartpro_Helper_Catalog_Product_Compare</product_compare>
				</rewrite>
			</catalog>
		</helpers>
        <events>
            <!--<checkout_cart_product_add_after>
                <observers>
                    <cartpro>
                        <class>cartpro/observer</class>
                        <method>preDispatch</method>
                    </cartpro>
                </observers>
            </checkout_cart_product_add_after>
			<checkout_cart_add_product_complete>
				<observers>
					<cartpro>
						<type>singleton</type>
						<class>cartpro/observer</class>
						<method>addToCartEvent</method>
					</cartpro>
				</observers>
			</checkout_cart_add_product_complete>
			
			<controller_action_predispatch>
                <observers>
                    <cartpro>
                        <class>cartpro/observer</class>
                        <method>preDispatch</method>
                    </cartpro>
                </observers>
            </controller_action_predispatch>
            
			<controller_action_postdispatch>
				<observers>
					<cartpro>
						<type>singleton</type>
						<class>cartpro/observer</class>
						<method>postDispatch</method>
					</cartpro>
				</observers>				
			</controller_action_postdispatch>
			-->
			<controller_action_postdispatch_checkout_cart_add>
				<observers>
					<cartpro>
						<type>singleton</type>
						<class>cartpro/observer</class>
						<method>addToCart</method>
					</cartpro>
				</observers>
			</controller_action_postdispatch_checkout_cart_add>
	        <controller_action_postdispatch_checkout_cart_delete>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>removeProduct</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_checkout_cart_delete>
	        <controller_action_postdispatch_checkout_cart_updatePost>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>updateCart</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_checkout_cart_updatePost>			
	        <controller_action_postdispatch_checkout_cart_updateItemOptions>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>updateCart</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_checkout_cart_updateItemOptions>			
	        <controller_action_postdispatch_wishlist_index_remove>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>removeWish</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_wishlist_index_remove>
	        <controller_action_postdispatch_catalog_product_compare_remove>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>removeProductCompare</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_catalog_product_compare_remove>
	        <controller_action_postdispatch_catalog_product_compare_clear>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>clearProductCompare</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_catalog_product_compare_clear>

			<controller_action_postdispatch_catalog_product_view>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>addOptions</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
			<controller_action_postdispatch_checkout_cart_index>
				<observers>
					<cartpro>
						<type>singleton</type>
						<class>cartpro/observer</class>
						<method>Wishtocheckout</method>
					</cartpro>
				</observers>
			</controller_action_postdispatch_checkout_cart_index>
			<controller_action_postdispatch_wishlist_index_cart>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>addToCartWishList</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_wishlist_index_cart>
			<controller_action_postdispatch_wishlist_index_configure>
                <observers>
                    <cartpro>
                        <type>singleton</type>
                        <class>cartpro/observer</class>
                        <method>addOptionsWishList</method>
                    </cartpro>
                </observers>
            </controller_action_postdispatch_wishlist_index_configure>
			<checkout_cart_product_add_after>
				<observers>
					<cartpro>
						<type>singleton</type>
						<class>cartpro/observer</class>
						<method>getNameProduct</method>
					</cartpro>
				</observers>
			</checkout_cart_product_add_after>
			<controller_action_postdispatch_wishlist_index_add>
				<observers>
					<cartpro>
						<type>singleton</type>
						<class>cartpro/observer</class>
						<method>addWishlist</method>
					</cartpro>
				</observers>
			</controller_action_postdispatch_wishlist_index_add>
			<controller_action_postdispatch_catalog_product_compare_add>
				<observers>
					<cartpro>
						<type>singleton</type>
						<class>cartpro/observer</class>
						<method>addProductCompare</method>
					</cartpro>
				</observers>
			</controller_action_postdispatch_catalog_product_compare_add>
        </events>
    </global>
    <frontend>
	<!-- //chi dung khi site yeu cau ssl : https://
		<secure_url>
			<cartpro>/cartpro/</cartpro>
		</secure_url>
		-->
        <routers>
            <cartpro>
                <use>standard</use>
                <args>
                    <module>Sm_Cartpro</module>
                    <frontName>cartpro</frontName>
                </args>
            </cartpro>
        </routers>
        <layout>
            <updates>
                <cartpro>
                    <file>sm/cartpro.xml</file>
                </cartpro>
            </updates>
        </layout>
        <translate>
			<modules>
				<Sm_Cartpro>
					<files>
						<default>Sm_Cartpro.csv</default>
					</files>
				</Sm_Cartpro>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<cartpro>
				<use>admin</use>
				<args>
					<module>Sm_Cartpro</module>
					<frontName>cartpro</frontName>
				</args>
			</cartpro>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<cartpro module="cartpro">
				<title>Cartpro</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="cartpro">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>cartpro/adminhtml_cartpro</action>
					</items>
				</children>
			</cartpro>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<cartpro>
							<title>cartpro Module</title>
							<sort_order>10</sort_order>
						</cartpro>
					
						<system>
	                            <children>
	                                <config>
	                                    <children>
											<!-- ten la trung ten chi ra trong file config system.xml > config > section >  -->
	                                        <cartpro_cfg translate="title" module="cartpro">
												<!-- Title display in role -->
	                                            <title>SM Cartpro</title>
	                                        </cartpro_cfg>
	                                    </children>
	                                </config>
	                            </children>
	                   </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<cartpro>
					<file>cartpro.xml</file>
				</cartpro>
			</updates>
		</layout>
        <translate>
			<modules>
				<Sm_Cartpro>
					<files>
						<default>Sm_Cartpro.csv</default>
					</files>
				</Sm_Cartpro>
			</modules>
		</translate>
    </adminhtml>   
	<default>
		<cartpro_cfg>
			<general>
				<enable>1</enable>
				<enable_ajax_cart>1</enable_ajax_cart>
				<enable_ajax_compare>1</enable_ajax_compare>
				<enable_ajax_wishlist>1</enable_ajax_wishlist>
				<enable_ajax_update>1</enable_ajax_update>
			</general>
			<confirm_display_setting>
				<confirm_display>1</confirm_display>
				<confirm_countdown_number>5</confirm_countdown_number>
				<confirm_item_display>1</confirm_item_display>
			</confirm_display_setting>
			<mini_cartpro_setting>
				<mini_cartpro_display>1</mini_cartpro_display>
				<mini_cartpro_effect_selector>click</mini_cartpro_effect_selector>
				<mini_cartpro_effect_toggle>slide</mini_cartpro_effect_toggle>
				<mini_cartpro_effect_duration>0.3</mini_cartpro_effect_duration>
			</mini_cartpro_setting>
			<product_display_setting>
				<product_image_display>1</product_image_display>
				<product_image_linkable>1</product_image_linkable>
				<product_image_width>60</product_image_width>
				<product_image_height>60</product_image_height>
				<product_title_display>1</product_title_display>
				<product_title_linkable>1</product_title_linkable>
				<product_description_display>0</product_description_display>
				<product_description_src>1</product_description_src>
				<product_description_strip_tags>1</product_description_strip_tags>
				<product_description_max_length>200</product_description_max_length>
				<product_price_display>1</product_price_display>
				<product_rating_summary_display>0</product_rating_summary_display>
				<product_quantity_display>1</product_quantity_display>
				<product_quantity_input_display>0</product_quantity_input_display>
			</product_display_setting>
		</cartpro_cfg>
	</default>
</config>