<?xml version="1.0"?>
<config>
	<global>
		<models>
            <searchboxpro>
                <class>Sm_Searchboxpro_Model</class>
            </searchboxpro>
        </models>
		<blocks>
            <searchboxpro>
                <class>Sm_Searchboxpro_Block</class>
            </searchboxpro>            		
        </blocks>				
		<helpers>
            <searchboxpro>
                <class>Sm_Searchboxpro_Helper</class>
            </searchboxpro>
        </helpers>
        <resources>
        	<searchboxpro_setup>
        		<setup>
        			<module>Sm_Searchboxpro</module>
        		</setup>
        	</searchboxpro_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<searchboxpro>
                <use>standard</use>
                <args>
                    <module>Sm_Searchboxpro</module>
                    <frontName>searchboxpro</frontName>
                </args>
            </searchboxpro>
        </routers>
		<layout>
            <updates>
                <searchboxpro module="Sm_Searchboxpro">
					<file>sm/searchboxpro.xml</file>
                </searchboxpro>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Searchboxpro>
                     <files>
                          <default>Sm_Searchboxpro.csv</default>
                     </files>
                </Sm_Searchboxpro>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Searchboxpro>
                     <files>
                          <default>Sm_Searchboxpro.csv</default>
                     </files>
                </Sm_Searchboxpro>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<searchboxpro translate="title" module="searchboxpro">
											<title>SM Searchboxpro Settings</title>
										</searchboxpro>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <searchboxpro>
        	<general>
				<isenabled>1</isenabled>
				<show_popular>1</show_popular>
				<limit_popular>5</limit_popular>
				<show_more>0</show_more>
                <more_text>More++</more_text>
				<show_advanced>1</show_advanced>                
				<pretext></pretext>
            	<posttext></posttext>
            </general>
        </searchboxpro>
    </default>
</config>