<?xml version="1.0"?>
<config>
	<global>
		<models>
            <tablisting>
                <class>Sm_Tablisting_Model</class>
            </tablisting>
        </models>
		<blocks>
            <tablisting>
                <class>Sm_Tablisting_Block</class>
            </tablisting>            		
        </blocks>				
		<helpers>
            <tablisting>
                <class>Sm_Tablisting_Helper</class>
            </tablisting>
        </helpers>
        <resources>
        	<tablisting_setup>
        		<setup>
        			<module>Sm_Tablisting</module>
        		</setup>
        	</tablisting_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<tablisting>
                <use>standard</use>
                <args>
                    <module>Sm_Tablisting</module>
                    <frontName>tablisting</frontName>
                </args>
            </tablisting>
        </routers>
		<layout>
            <updates>
                <tablisting module="Sm_Tablisting">
					<file>sm/tablisting.xml</file>
                </tablisting>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Tablisting>
                     <files>
                          <default>Sm_Tablisting.csv</default>
                     </files>
                </Sm_Tablisting>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Tablisting>
                     <files>
                          <default>Sm_Tablisting.csv</default>
                     </files>
                </Sm_Tablisting>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<tablisting_cfg translate="title" module="tablisting">
											<title>Sm Tab Listing Settings</title>
										</tablisting_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <tablisting_cfg>
        	<general>
                <isenabled>1</isenabled>
                <title>Best sellers</title>
            </general>
			<module_setting>
				<nb_column0>4</nb_column0>
				<nb_column1>4</nb_column1>
				<nb_column2>4</nb_column2>
				<nb_column3>2</nb_column3>
				<nb_column4>1</nb_column4>
				<product_links_target>_self</product_links_target>
				<count_readmore_display>1</count_readmore_display>
			</module_setting>			
            <product_selection>
            	<type_tab_display>category</type_tab_display>
            	<order_tab></order_tab>
            	<product_category></product_category>
            	<product_order_by>best_sales</product_order_by>
            	<product_order_dir>desc</product_order_dir>
            	<product_limitation>20</product_limitation>
            </product_selection>
			<product_display_setting>
				<item_image_width>170</item_image_width>
				<item_image_height>260</item_image_height>
				<item_title_display>1</item_title_display>
				<item_title_max_characs>20</item_title_max_characs>
				<item_desc_display>0</item_desc_display>
				<item_desc_max_characs>150</item_desc_max_characs>
                <item_description_striptags>1</item_description_striptags>
                <item_description_keeptags></item_description_keeptags>
				<item_price_disp>1</item_price_disp>
                <item_review_disp>1</item_review_disp>
				<item_cart_disp>1</item_cart_disp>
				<item_wishlist_disp>1</item_wishlist_disp>
				<item_compare_disp>1</item_compare_disp>
			</product_display_setting>
            <advanced>
            	<include_jquery>0</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </tablisting_cfg>
    </default>
</config>
