<?xml version="1.0"?>
<config>
    <modules>
        <Company_CustomMultiUserAccounts>
            <version>0.1.0</version>
        </Company_CustomMultiUserAccounts>
    </modules>

    <frontend>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <modules>
                        <Company_CustomMultiUserAccounts before="Cminds_MultiUserAccounts">Company_CustomMultiUserAccounts</Company_CustomMultiUserAccounts>
                    </modules>
                </args>
            </customer>
            <company_custommultiuseraccounts>
                <use>standard</use>
                <args>
                    <module>Company_CustomMultiUserAccounts</module>
                    <frontName>custommultiuseraccounts</frontName>
                </args>
            </company_custommultiuseraccounts>
        </routers>
        <layout>
            <updates>
                <company_custommultiuseraccounts module="Company_CustomMultiUserAccounts">
                    <file>company_custommultiuseraccounts.xml</file>
                </company_custommultiuseraccounts>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
          <company_custommultiuseraccounts>
                <class>Company_CustomMultiUserAccounts_Block</class>
            </company_custommultiuseraccounts>
            <!--<cminds_multiuseraccounts>
                <rewrite>
                    <adminhtml_subaccount_edit_form>Company_CustomMultiUserAccounts_Block_Adminhtml_SubAccount_Edit_Form</adminhtml_subaccount_edit_form>
                </rewrite>
            </cminds_multiuseraccounts>-->
        </blocks>
        <helpers>
           <company_custommultiuseraccounts>
                <class>Company_CustomMultiUserAccounts_Helper</class>
            </company_custommultiuseraccounts>
            <cminds_multiuseraccounts>
                <rewrite>
                    <data>Company_CustomMultiUserAccounts_Helper_Data</data>
                </rewrite>
            </cminds_multiuseraccounts>
        </helpers>
        <models>
            <company_custommultiuseraccounts>
                <class>Company_CustomMultiUserAccounts_Model</class>
            </company_custommultiuseraccounts>
            <cminds_multiuseraccounts>
                <rewrite>
                    <subaccount_permission>Company_CustomMultiUserAccounts_Model_SubAccount_Permission</subaccount_permission>
                    <subAccount>Company_CustomMultiUserAccounts_Model_SubAccount</subAccount>
                </rewrite>
            </cminds_multiuseraccounts>
        </models>
    </global>
</config>