<?xml version="1.0"?>
<config>
	<modules>
		<Sm_Deal>
			<version>0.0.1</version>
		</Sm_Deal>
	</modules>
	<global>
		<resources>
			<sm_deal_setup>
				<setup>
					<module>Sm_Deal</module>
					<class>Sm_Deal_Model_Resource_Setup</class>
				</setup>
			</sm_deal_setup>
		</resources>
		<blocks>
			<deal>
				<class>Sm_Deal_Block</class>
			</deal>
		</blocks>
		<helpers>
			<deal>
				<class>Sm_Deal_Helper</class>
			</deal>
		</helpers>
		<models>
			<deal>
				<class>Sm_Deal_Model</class>
				<resourceModel>deal_resource</resourceModel>
			</deal>
			<deal_resource>
				<class>Sm_Deal_Model_Resource</class>
				<entities>
					<deal>
						<table>deal_deal</table>
					</deal>
					<deal_store>
						<table>deal_deal_store</table>
					</deal_store>
					<deal_product>
						<table>deal_deal_product</table>
					</deal_product>
				</entities>
			</deal_resource>
		</models>
		<events>
			<controller_front_init_routers>
				<observers>
					<sm_deal>
						<class>Sm_Deal_Controller_Router</class>
						<method>initControllerRouters</method>
					</sm_deal>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<sm_deal>
					<file>sm_deal.xml</file>
				</sm_deal>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_Deal>
					<files>
						<default>Sm_Deal.csv</default>
					</files>
				</Sm_Deal>
			</modules>
		</translate>
		<events>
			<core_block_abstract_prepare_layout_after>
				<observers>
					<deal>
						<type>singleton</type>
						<class>deal/adminhtml_observer</class>
						<method>addDealBlock</method>
					</deal>
				</observers>
			</core_block_abstract_prepare_layout_after>
			<catalog_product_save_after>
				<observers>
					<deal>
						<type>singleton</type>
						<class>deal/adminhtml_observer</class>
						<method>saveDealData</method>
					</deal>
				</observers>
			</catalog_product_save_after>
		</events>
		<global_search>
			<deal>
				<class>deal/adminhtml_search_deal</class>
				<acl>deal</acl>
			</deal>
		</global_search>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Sm_Deal before="Mage_Adminhtml">Sm_Deal_Adminhtml</Sm_Deal>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<deal>
				<use>standard</use>
				<args>
					<module>Sm_Deal</module>
					<frontName>deal</frontName>
				</args>
			</deal>
		</routers>
		<layout>
			<updates>
				<sm_deal>
					<file>sm/deal.xml</file>
				</sm_deal>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_Deal>
					<files>
						<default>Sm_Deal.csv</default>
					</files>
				</Sm_Deal>
			</modules>
		</translate>
	</frontend>
	<default>
		<deal>
			<deal>
                <isenabled>1</isenabled>
                <title></title>
			</deal>
			<product_display_setting>
				<product_title_disp>1</product_title_disp>
				<product_title_max_characters>20</product_title_max_characters>				
				<product_image_width>250</product_image_width>
				<product_image_height>250</product_image_height>				
				<product_description_disp>0</product_description_disp>
				<product_description_max_characters>150</product_description_max_characters>
				<product_price_disp>1</product_price_disp>
				<product_reviews_count>1</product_reviews_count>				
			</product_display_setting>		
		</deal>
	</default>
</config>