<?xml version="1.0"?>
<config>
	<tabs>
		<sm translate="label" module="deal">
			<label>Magentech.com</label>
			<sort_order>205</sort_order>
		</sm>
	</tabs>
 	<sections>
		<deal translate="label" module="deal">
			<label>Sm Deal</label>
			<tab>sm</tab>
			<frontend_type>text</frontend_type>
			<sort_order>100</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<deal translate="label" module="deal">
					<label>General settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<isenabled translate="label" module="core">
							<label>Enabled</label>
							<sort_order>10</sort_order>
							<frontend_type>select</frontend_type>
                        	<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</isenabled>
	                	<title translate="label">
	                		<label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</title>											
						<orderby translate="label" module="deal">
							<label>Set Deal Order, Front Product Show Orderwise </label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_startdateenddate</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</orderby>
					</fields>
				</deal>
				<product_display_setting translate="label">
					<label>Products settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					
					<fields>
						<product_image_heading translate="label">
							<label>Product image</label>
		            		<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
		            		<sort_order>10</sort_order>
		            		<show_in_default>1</show_in_default>
						</product_image_heading>				
						<product_image_width translate="label">
		            		<label>Image width</label>
		            		<frontend_type>text</frontend_type>
		            		<sort_order>40</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_image_width>
	            		<product_image_height translate="label">
		            		<label>Image height</label>
		            		<frontend_type>text</frontend_type>
		            		<sort_order>50</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_image_height>
						
						<product_title_heading translate="label">
							<label>Product title</label>
		            		<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
		            		<sort_order>100</sort_order>
		            		<show_in_default>1</show_in_default>
						</product_title_heading>
						<product_title_disp translate="label">
							<label>Display</label>
		            		<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
		            		<sort_order>110</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_title_disp>					
						<product_title_max_characters translate="label">
							<label>Max characters</label>
		            		<frontend_type>text</frontend_type>
		            		<sort_order>140</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_title_max_characters>
						
						<product_description_heading translate="label">
							<label>Product description</label>
		            		<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
		            		<sort_order>200</sort_order>
		            		<show_in_default>1</show_in_default>
						</product_description_heading>
						<product_description_disp translate="label">
							<label>Display</label>
		            		<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
		            		<sort_order>210</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_description_disp>			
						<product_description_max_characters translate="label">
							<label>Max characters</label>
		            		<frontend_type>text</frontend_type>
		            		<sort_order>230</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_description_max_characters>												
						<product_other_infomations_heading translate="label">
							<label>Others</label>
		            		<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
		            		<sort_order>300</sort_order>
		            		<show_in_default>1</show_in_default>
						</product_other_infomations_heading>
						<product_price_disp translate="label">
							<label>Display price</label>
		            		<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
		            		<sort_order>320</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_price_disp>
						<product_reviews_count translate="label">
							<label>Display reviews summary</label>
		            		<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
		            		<sort_order>330</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</product_reviews_count>															
					</fields>
				</product_display_setting>					            			
			</groups>
		</deal>
	</sections>
</config> 