<?xml version="1.0"?>
<config>
    <modules>
    	<Kithnekaa_Solr>
    		<version>0.0.1</version>
    	</Kithnekaa_Solr>
    </modules>
    <global>
        <blocks>
            <kithnekaa_solr>
                <class>Kithnekaa_Solr_Block</class>
            </kithnekaa_solr>
        </blocks>
    	<models>
        	    <kithnekaa_solr>
            	    <class>Kithnekaa_Solr_Model</class>
            	    <resourceModel>kithnekaa_solr_resource</resourceModel>
            	</kithnekaa_solr>
            	<kithnekaa_solr_resource>
            	    <class>Kithnekaa_Solr_Model_Resource</class>
            	</kithnekaa_solr_resource>
            	<catalogsearch_resource>
                	<rewrite>
                    	<fulltext>Kithnekaa_Solr_Model_Resource_CatalogSearch_Fulltext</fulltext>
                	</rewrite>
            	</catalogsearch_resource>
            	 <catalogsearch>
                	<rewrite>
                    	<indexer_fulltext>Kithnekaa_Solr_Model_CatalogSearch_Indexer_Fulltext</indexer_fulltext>
               		 </rewrite>
           		 </catalogsearch>
        </models>
        <helpers>
            <kithnekaa_solr>
                <class>Kithnekaa_Solr_Helper</class>
            </kithnekaa_solr>
        </helpers>   	
    </global>
    <frontend>
    	<layout>
            <updates>
                <kithnekaa_solr>
                    <file>kithnekaa/solr.xml</file>
                </kithnekaa_solr>
            </updates>
        </layout>
    	<routers>
            <solr>
                <use>standard</use>
                <args>
                    <module>Kithnekaa_Solr</module>
                    <frontName>solr</frontName>
                </args>
            </solr>
        </routers>
    </frontend>
     <default>
        <kithnekaa_solr>
            <general>
                <enabled>0</enabled>
            </general>
            <server>
                <host>localhost</host>
                <port>8983</port>
                <path>/solr</path>
                <core>collection1</core>
                <timeout>3600</timeout>
                <search_timeout>5</search_timeout>
                <requires_authentication>0</requires_authentication>
            </server>
            <results>
                <max>10</max>
                <autocorrect>1</autocorrect>
                <autocomplete_suggestions>5</autocomplete_suggestions>
            </results>
            <reindexing>
                <buffersize>100</buffersize>
            </reindexing>
        </kithnekaa_solr>
    </default>
    
</config>