<?xml version="1.0"?>
<config>
    <modules>
        <Cminds_MultiUserAccounts>
            <version>1.1.3</version>
        </Cminds_MultiUserAccounts>
    </modules>
    <global>
        <models>
            <cminds_multiuseraccounts>
                <class>Cminds_MultiUserAccounts_Model</class>
                <resourceModel>cminds_multiuseraccounts_resource</resourceModel>
            </cminds_multiuseraccounts>
            <cminds_multiuseraccounts_resource>
                <class>Cminds_MultiUserAccounts_Model_Resource</class>
                <entities>
                    <subAccount>
                        <table>cminds_multiuseraccounts_subaccount</table>
                    </subAccount>
                </entities>
            </cminds_multiuseraccounts_resource>
            <customer>
                <rewrite>
                    <customer>Cminds_MultiUserAccounts_Model_Customer_Customer</customer>
                    <session>Cminds_MultiUserAccounts_Model_Customer_Session</session>
                </rewrite>
            </customer>
        </models>
        <blocks>
            <cminds_multiuseraccounts>
                <class>Cminds_MultiUserAccounts_Block</class>
            </cminds_multiuseraccounts>
            <page>
                <rewrite>
                    <html_welcome>Cminds_MultiUserAccounts_Block_Page_Html_Welcome</html_welcome>
					<html_header>Cminds_MultiUserAccounts_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>
            <customer>
                <rewrite>
                    <account_dashboard_hello>Cminds_MultiUserAccounts_Block_Customer_Account_Dashboard_Hello</account_dashboard_hello>
                    <account_navigation>Cminds_MultiUserAccounts_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <order_history>Cminds_MultiUserAccounts_Block_Sales_Order_History</order_history>
                    <order_recent>Cminds_MultiUserAccounts_Block_Sales_Order_Recent</order_recent>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <cminds_multiuseraccounts>
                <class>Cminds_MultiUserAccounts_Helper</class>
            </cminds_multiuseraccounts>
            <customer>
                <rewrite>
                    <data>Cminds_MultiUserAccounts_Helper_Customer_Data</data>
                </rewrite>
            </customer>
        </helpers>
        <resources>
            <multiuseraccounts_setup>
                <setup>
                    <module>Cminds_MultiUserAccounts</module>
                </setup>
            </multiuseraccounts_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cminds_multiuseraccounts before="Mage_Adminhtml">Cminds_MultiUserAccounts_Adminhtml</cminds_multiuseraccounts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cminds_multiuseraccounts_admin>
                    <file>cminds_multiuseraccounts.xml</file>
                </cminds_multiuseraccounts_admin>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <cminds_multiuseraccounts>
                    <file>cminds_multiuseraccounts.xml</file>
                </cminds_multiuseraccounts>
            </updates>
        </layout>
        <routers>
            <customer>
                <args>
                    <modules>
                        <cminds_multiuseraccounts before="Mage_Customer">Cminds_MultiUserAccounts</cminds_multiuseraccounts>
                        <cminds_multiuseraccounts_address before="Mage_Customer_AddressController">Cminds_MultiUserAccounts_Customer_Address</cminds_multiuseraccounts_address>
                    </modules>
                </args>
            </customer>
            <sales>
                <args>
                    <modules>
                        <cminds_multiuseraccounts before="Mage_Sales">Cminds_MultiUserAccounts_Sales</cminds_multiuseraccounts>
                    </modules>
                </args>
            </sales>
            <newsletter>
                <args>
                    <modules>
                        <cminds_multiuseraccounts before="Mage_Newsletter">Cminds_MultiUserAccounts_Newsletter</cminds_multiuseraccounts>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <cminds_multiuseraccounts>
                        <class>Cminds_MultiUserAccounts_Model_Observer</class>
                        <method>checkOrderCreationAuth</method>
                    </cminds_multiuseraccounts>
                </observers>
            </sales_convert_quote_to_order>
        </events>
    </frontend>
</config>