<?xml version="1.0"?>
<config>
    <modules>
        <Amar_Profile>
            <version>0.4.0</version>
        </Amar_Profile>
    </modules>
    
    <global>
        <models>
            <profile>
                <class>Amar_Profile_Model</class>
                <resourceModel>profile_mysql4</resourceModel>
            </profile>
            <profile_mysql4>
                <class>Amar_Profile_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>amar_profile</table>
                    </profile>
                </entities>
            </profile_mysql4>
        </models>
        <resources>
            <profile_setup>
                <setup>
                    <module>Amar_Profile</module>
                    <class>Amar_Profile_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profile_setup>
            <profile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profile_write>
            <profile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profile_read>
        </resources>
        <blocks>
            <profile>
                <class>Amar_Profile_Block</class>
            </profile>
        </blocks>
        <helpers>
            <profile>
                <class>Amar_Profile_Helper</class>
            </profile>
        </helpers>
    </global>
    
    <frontend>
        <routers>
            <profile>
                <use>standard</use>
                <args>
                    <module>Amar_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
    </frontend>
    
    
    <admin>
        <routers>
            <profile>
                <use>admin</use>
                <args>
                    <module>Amar_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
    </adminhtml>
</config>