<?xml version="1.0"?>
<config>
  <modules>
    <Neo_UploadDocs>
      <version>0.1.0</version>
    </Neo_UploadDocs>
  </modules>
  <global>
    <helpers>
      <uploaddocs>
        <class>Neo_UploadDocs_Helper</class>
      </uploaddocs>
    </helpers>
	<models>
	  <uploaddocs>
		<class>Neo_UploadDocs_Model</class>
		<resourceModel>uploaddocs_mysql4</resourceModel>
	  </uploaddocs>
	  <uploaddocs_mysql4>
		<class>Neo_UploadDocs_Model_Mysql4</class>
		<entities>		  
			  <companydocs>
				<table>company_documents</table>
			  </companydocs>
        </entities>
	  </uploaddocs_mysql4>
	</models>
	<resources>
	  <uploaddocs_setup>
		<setup>
		  <module>Neo_UploadDocs</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </uploaddocs_setup>
	  <uploaddocs_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </uploaddocs_write>
	  <uploaddocs_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </uploaddocs_read>
	</resources>
  </global>
</config> 