<?xml version="1.0"?>
<config>
	<global>
		<models>
            <categories>
                <class>Sm_Categories_Model</class>
            </categories>
        </models>
		<blocks>
            <categories>
                <class>Sm_Categories_Block</class>
            </categories>
        </blocks>				
		<helpers>
            <categories>
                <class>Sm_Categories_Helper</class>
            </categories>
        </helpers>
        <resources>
        	<categories_setup>
        		<setup>
        			<module>Sm_Categories</module>
        		</setup>
        	</categories_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<categories>
                <use>standard</use>
                <args>
                    <module>Sm_Categories</module>
                    <frontName>categories</frontName>
                </args>
            </categories>
        </routers>
		<layout>
            <updates>
                <categories module="Sm_Categories">
					<file>sm/categories.xml</file>
                </categories>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Sm_Categories>
                     <files>
                          <default>Sm_Categories.csv</default>
                     </files>
                </Sm_Categories>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Sm_Categories>
                     <files>
                          <default>Sm_Categories.csv</default>
                     </files>
                </Sm_Categories>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>										
										<categories_cfg translate="title" module="categories">
											<title>SM Categories Settings</title>
										</categories_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				 <categories module="Sm_Categories">
					<file>sm/categories.xml</file>
                </categories>
			</updates>
		</layout>
	</adminhtml>
	<default>
        <categories_cfg>
			<general>
				<active>1</active>
				<categories_title_text>Hot categories</categories_title_text>
				<product_links_target>_self</product_links_target>
				<deviceclass_sfx>preset01-4 preset02-3 preset03-2 preset04-2 preset05-1</deviceclass_sfx>
				<theme>theme3</theme>
				<accmouseenter>click</accmouseenter>
			</general>

	        <source_options>
				<product_category></product_category>
				<depth>1</depth>
				<count_cats>4</count_cats>
			</source_options>

	        <category_options>
				<cat_title_display>1</cat_title_display>
				<cat_title_maxcharacs>50</cat_title_maxcharacs>
				<cat_sub_title_display>1</cat_sub_title_display>
				<cat_sub_title_maxcharacs>100</cat_sub_title_maxcharacs>
				<cat_all_product>0</cat_all_product>
		        <category_order_by>name</category_order_by>
				<category_order_dir>ASC</category_order_dir>
	        </category_options>

			<image_options>
				<imgcfgcat_from_category_image>0</imgcfgcat_from_category_image>
				<imgcfgcat_from_category_thumbnail>1</imgcfgcat_from_category_thumbnail>
				<imgcfgcat_from_category_description>0</imgcfgcat_from_category_description>
				<imgcfgcat_order>category_image, category_thumbnail, category_description</imgcfgcat_order>
				<imgcfgcat_function>1</imgcfgcat_function>
				<imgcfgcat_width>270</imgcfgcat_width>
				<imgcfgcat_height>140</imgcfgcat_height>
				<imgcfgcat_constrainOnly>true</imgcfgcat_constrainOnly>
				<imgcfgcat_keepAspectRatio>true</imgcfgcat_keepAspectRatio>
				<imgcfgcat_keepFrame>true</imgcfgcat_keepFrame>
				<imgcfgcat_keepTransparency>true</imgcfgcat_keepTransparency>
				<imgcfgcat_background>FFFFFF</imgcfgcat_background>
				<imgcfgcat_placeholder>sm/categories/images/nophoto.jpg</imgcfgcat_placeholder>
			</image_options>

			<advanced>
				<include_jquery>1</include_jquery>
				<pretext></pretext>
				<posttext></posttext>
			</advanced>
        </categories_cfg>
    </default>
</config>