<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <udshipclass translate="label" module="udropship">
                    <label>Shipping Classes</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    </fields>
                </udshipclass>
            </groups>
        </carriers>
    </sections>
</config>