<?xml version="1.0"?>
<config>
    <global>
        <models>
            <listingdeals>
                <class>Sm_Listingdeals_Model</class>
            </listingdeals>
        </models>
        <blocks>
            <listingdeals>
                <class>Sm_Listingdeals_Block</class>
            </listingdeals>
        </blocks>
        <helpers>
            <listingdeals>
                <class>Sm_Listingdeals_Helper</class>
            </listingdeals>
        </helpers>
        <resources>
            <listingdeals_setup>
                <setup>
                    <module>Sm_Listingdeals</module>
                </setup>
            </listingdeals_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <listingdeals>
                <use>standard</use>
                <args>
                    <module>Sm_Listingdeals</module>
                    <frontName>listingdeals</frontName>
                </args>
            </listingdeals>
        </routers>
        <layout>
            <updates>
                <listingdeals module="Sm_Listingdeals">
                    <file>sm/listingdeals.xml</file>
                </listingdeals>
            </updates>
        </layout>
        <translate>
            <modules>
                <Sm_Listingdeals>
                    <files>
                        <default>Sm_Listingdeals.csv</default>
                    </files>
                </Sm_Listingdeals>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Sm_Listingdeals>
                    <files>
                        <default>Sm_Listingdeals.csv</default>
                    </files>
                </Sm_Listingdeals>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <listingdeals_cfg translate="title" module="listingdeals">
                                            <title>SM Listing Tabs Settings</title>
                                        </listingdeals_cfg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <slider module="Sm_Listingdeals">
                    <file>sm/listingdeals.xml</file>
                </slider>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <listingdeals_cfg>
            <general>
                <active>1</active>
                <listingdeals_title_text>SM Listing Deals</listingdeals_title_text>
                <product_links_target>_self</product_links_target>
                <nbi_column1>4</nbi_column1>
                <nbi_column2>3</nbi_column2>
                <nbi_column3>2</nbi_column3>
                <nbi_column4>1</nbi_column4>
            </general>

            <source_options>
                <product_category></product_category>
                <field_preload>name</field_preload>
                <category_preload></category_preload>
                <child_category_products>1</child_category_products>
                <max_depth>1</max_depth>
                <product_featured>0</product_featured>
                <product_order_by>name</product_order_by>
                <product_order_dir>ASC</product_order_dir>
                <product_limitation>5</product_limitation>
            </source_options>

            <tabs_options>
                <tab_all_display>1</tab_all_display>
                <cat_title_maxlength>150</cat_title_maxlength>
                <category_order_by>name</category_order_by>
                <category_order_dir>ASC</category_order_dir>
                <icon_display>1</icon_display>
                <imgcfgcat_from_category_image>1</imgcfgcat_from_category_image>
                <imgcfgcat_from_category_thumbnail>1</imgcfgcat_from_category_thumbnail>
                <imgcfgcat_from_category_description>1</imgcfgcat_from_category_description>
                <imgcfgcat_order>category_image, category_thumbnail, category_description</imgcfgcat_order>
                <imgcfgcat_function>1</imgcfgcat_function>
                <imgcfgcat_width>30</imgcfgcat_width>
                <imgcfgcat_height>30</imgcfgcat_height>
                <imgcfgcat_constrainOnly>true</imgcfgcat_constrainOnly>
                <imgcfgcat_keepAspectRatio>true</imgcfgcat_keepAspectRatio>
                <imgcfgcat_keepFrame>true</imgcfgcat_keepFrame>
                <imgcfgcat_keepTransparency>true</imgcfgcat_keepTransparency>
                <imgcfgcat_background>FFFFFF</imgcfgcat_background>
                <imgcfgcat_placeholder>sm/listingdeals/images/nophoto.jpg</imgcfgcat_placeholder>
            </tabs_options>

            <product_options>
                <product_title_display>1</product_title_display>
                <product_title_maxlength>25</product_title_maxlength>
                <product_image_width>200</product_image_width>
                <product_image_height>200</product_image_height>
                <product_description_display>1</product_description_display>
                <product_description_maxlength>150</product_description_maxlength>
                <product_price_display>1</product_price_display>
                <product_reviews_count>1</product_reviews_count>
                <product_addcart_display>1</product_addcart_display>
                <product_addwishlist_display>1</product_addwishlist_display>
                <product_addcompare_display>1</product_addcompare_display>
            </product_options>

            <image_options>
                <imgcfg_from_product_image>1</imgcfg_from_product_image>
                <imgcfg_from_product_description>1</imgcfg_from_product_description>
                <imgcfg_order>product_image, product_description</imgcfg_order>
                <imgcfg_function>1</imgcfg_function>
                <imgcfg_width>200</imgcfg_width>
                <imgcfg_height>200</imgcfg_height>
                <imgcfg_constrainOnly>false</imgcfg_constrainOnly>
                <imgcfg_keepAspectRatio>true</imgcfg_keepAspectRatio>
                <imgcfg_keepFrame>true</imgcfg_keepFrame>
                <imgcfg_keepTransparency>true</imgcfg_keepTransparency>
                <imgcfg_background>FFFFFF</imgcfg_background>
                <imgcfg_placeholder>sm/listingdeals/images/nophoto.jpg</imgcfg_placeholder>
            </image_options>

            <effect_options>
                <effect>starwars</effect>
                <duration>800</duration>
                <delay>2500</delay>
            </effect_options>

            <advanced>
                <include_jquery>1</include_jquery>
                <pretext>pretext</pretext>
                <posttext>posttext</posttext>
            </advanced>
        </listingdeals_cfg>
    </default>
</config>